<div class="form-container">
    <div>
        <h1>What is your name and age?</h1>
        <form action="/waterbearimage" method="POST">
            <h3>Please enter your name and age</h3>
            <input id="name" type="text" name="name" placeholder="Your Name" />
            <input id="age" type="number" name="age" placeholder="Your Age" />
            <button type="submit">Button</button>
        </form>
    </div>
</div>