<div class="moss-piggary">
    <div>
        <h1 id="waterbearName" data-name="<%= name %>">Hello <%= name %>, here are your waterbear pics.</h1>
        <h2 id="waterbearAge" data-age="<%= age %>">This waterbear is 325.5 years old. Our records show that you are <%= age %>.</h2>
        <img src="./assets/images/hippo-water-bear.gif">
    </div>
</div>
<script src="/assets/javascript/script.js"></script>