<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/waterbears.css" />
    <script src="assets/javascript/script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="moss-piggary">
        <div>
            <h1>Hello <%= name %>, here are your waterbear pics.</h1>
            <h2>This waterbear is 325.5 years old. Our records show that you are <%= age %>.</h2>
            <img src="./assets/images/hippo-water-bear.gif">
        </div>
    </div>
</body>

</html>